
<label for="assignmentName"> Name </label>
<input tyoe="text" name="name" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true, propercase:true" />
<label for="date1">Due Date:</label>
<input type="text" name="dueDate" id="DueDate"
    data-dojo-type="dijit/form/DateTextBox"
    required="true" />
